{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Help
{% endblock %}
{% block main %}
	<ul>
		<li>
			<a href="#purposes">Purposes</a>
		</li>

		<li>
			<a href="#login">Login</a>
		</li>
		<li>
			<a href="#interface">Interface</a>
		</li>
		<li>
			<a href="#orders">Orders</a>
		</li>
		<li>
			<a href="#amazon-fba">Amazon & FBA</a>
		</li>
		<li>
			<a href="#pricing">Pricing</a>
		</li>
		<li>
			<a href="#configuration">Configuration</a>
		</li>

		<li>
			<a href="#errors">Errors</a>
		</li>
		<li>
			<a href="#technical">Technical</a>
		</li>
		<li>
			<a href="#cron">Cron task</a>
		</li>
	</ul>

	<hr class=""/>
	<h2 class="mb-4" id="purposes">Purposes</h2>
	<p>The app aims to be a middleware between some of online sale channels providing IT solutions to solve syncronization and integration problematics.</p>
	<h4 class="mt-4 mb-2" id="purposes-orders">Order synchronisation</h4>
	<p>The main task executed by the app is the integration in Business central.
						Each sale order belongs to a sale channel and through a integration channel (Channeladvisor, Aliexpress, ...). 
						Sale order will be integrated and regarding the carrier solution (External m or own managed) wil be posted as invoice or as shipment.
						In case of a own managed shipment, tracking will be send through sale channel.
						Invoice will be sent automatically by email or through the sale channel.</p>
	<p>A full picture of the process is visible on
		<a target="_blank" href="https://miro.com/app/board/uXjVOMngBLs=/?share_link_id=362798380277">this schema</a>
	</p>
	<h4 class="mt-4 mb-2" id="purposes-stock">Stock synchronization</h4>
	<p>The app connects hourly to Business cental to get the level of stocks (La Roca, Madrid) of every SKU and send available level of stock to every sale channel. 
						Some rules are added to add some buffer and avoid syncronisation error.
						For the warehouse in La Roca, if the level is greater than 5, the available of stock is calculated as 70% of the real available stock. If the real stock is less than 5, the stoc k is considered equal to 0.
						For the warehouse in Madrid, real stock is sent.</p>
	<h4 class="mt-4 mb-2" id="fba-and-amazon-reporting">FBA and Amazon reporting</h4>
	<p>The app connects to different reports provided by Amazon and uses the content to provide some helpers to manage Business.</p>
	<ul>
		<li>stock level on FBA and alert regarding skus that need to be sent to FBA</li>
		<li>returns and reimbursements of FBA</li>
		<li>financial events linked to FBA transactions
		</li>
		<li>export datas to Power BI to provide datas to consume</li>
	</ul>
	<h4 class="mt-4 mb-2" id="pricing">Pricing</h4>
	<p>The app can manage prices and promotions prices to the different setup sale channels. The sale channel is a combination of a marketplace and a company, then Amazon.es will be involved in 2 companies that means there will be 2 sale channels for each company.
						For a sku given, users can manage if a product price is enabled on a sale channel and then define is price.
						The promotion system will help users to manage finely promotion prices.</p>
	<hr class=""/>
	<h4 class="mt-4 mb-2" id="login">Login</h4>
	<p>App is acccesible through web
		<a target="_blank" href="https://marketplace.kps-group.com">https://marketplace.kps-group.com</a>
	</p>
	<p><img class="img-fluid" src="/assets/images/doc/login.png" alt="Login" title="Login"></p>
	<p>You need to provide your email as username and the password that have been provided.</p>
	<h4 class="mt-4 mb-2" id="interface">Interface</h4>
	<p><img class="img-fluid" src="/assets/images/doc/interface.png" alt="Interface" title="Interface"></p>
	<p>Interface has common functionality through all screens</p>
	<ol>
		<li>Menu and submenus : Regarding your roles you will not access to every section of the application</li>
		<li>Search bar. Fill up and tape enter on your keyboard. Search only in the section you are in.</li>
		<li>Logout button</li>
		<li>Filtering and general actions. This zone provide all general actions for a list. (ex : filter, add new item,export in csv, batch delete, ...).  Regarding your roles you will not access to every action</li>
		<li>Sorting. Only column with this sign provide sort asc or desc functionality</li>
		<li>Individual action.  (ex : detail, edit, delete, ...). Regarding your roles you will not access to every action.</li>
	</ol>

	<hr class=""/>

	<h4 class="mt-4 mb-2" id="orders">Orders</h4>
	<p>This section will enable you to visualize all sale orders integrated through Paxtira in Business central</p>
	<p> Sale orders are organized by sale channels, by status, by company. Each order page will enable user to cjeck status of the sale order, get tarcking and download invoice</p>
		<p><img class="img-fluid" src="/assets/images/doc/order-page.png" alt="Order" title="Order page"></p>
	<ol>
		<li>List of all sale channels</li>
		<li>Common action as See online the sale order (Amazon, Aliexpress, ...), download the pdf invoice form Business central, ...</li>
		<li>Display all the elements retrieved from sale channel regarding the order + status of the integration in the information system</li>
		<li>Display a chronology of the integration of the order</li>
		<li>Display all the elements retrieved from Business central, especially the VAT rates or shipping rates.</li>
		<li>For Amazon only, we retrieve all the financial datas associated with this transaction (order,return, cashback, fee or shipping)</li>
	</ol>
	<hr class=""/>
	<h4 class="mt-4 mb-2" id="amazon-fba">Amazon &amp; FBA</h4>
	<p>This section will enable you to visualize all datas relatives to activities down through Amazon seller central</p>
	<h6 class="mt-4 mb-2" id="inventory">Inventory</h6>
	<p><img class="img-fluid" src="/assets/images/doc/Inventories-2373-results.png"></p>
	<p>This section will enable you to visualize the inventory in all countries for every item. </p>
	<p><img class="img-fluid" src="/assets/images/doc/Edit-Inventory.png"></p>
	<p>In the form, you can define a minimum quantity for UK and EU in order to get a daily alert about necessity to restock items</p>
	<h6 class="mt-4 mb-2" id="fees">Fees</h6>
	<h6 class="mt-4 mb-2" id="fba-returns">FBA Returns</h6>
	<hr class=""/>
	<h4 class="mt-4 mb-2" id="pricing">Pricing</h4>
	Every product can be linked to a sale channel. According to the settings of sale channels, this action can trigger the publication of an offer on a sale channel.
	<h6 class="mt-4 mb-2" id="prices">Prices</h6>
	<p><img class="img-fluid" src="/assets/images/doc/price.png"></p>
	<p>On this page you can define all regular prices by sale channels and make product enabled or not on sale channel<br/>
	You can also visualize also all promotions affected to the product. THe promotions will define the discount prices for a period<br/>
	A tab enables you to see a graph with all variations of prize in the past and in the future<br/>
	And the final Logs tab enable you to see the different modifications done on price, sale prices and promotions</p>
	<h6 class="mt-4 mb-2" id="promotions">Promotions</h6>
	<p><img class="img-fluid" src="/assets/images/doc/Promotions-2225-results.png"></p>
	<p>While regular price is defined in the pricing page, promotion is a system taht enable you to define programmatically a discount on a price and then generate a strike price on the sale channel</p>
	You can create promotions by import or by form.</p>
	<p>Here the different points for a promotion</p>
	<table class="table datagrid table-condensed">
							<thead>
								<tr>
									<th>Field description</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Products</td>
									<td>The products you want to apply the promotion
									</td>
								</tr>
								<tr>
									<td>Sale channels</td>
									<td>The sale vhannels you want to apply the promotion
									</td>
								</tr>
								<tr>
									<td>Begin Date</td>
									<td>Promotion start</td>
								</tr>
								<tr>
									<td>End Date</td>
									<td>Promotion end</td>
									
								</tr>
								
								<tr>
									<td>Type of promotion ({{constant('App\\Entity\\Promotion::TYPE_PERCENT')}} or {{constant('App\\Entity\\Promotion::TYPE_FIXED')}})</td>
									<td>If type is {{constant('App\\Entity\\Promotion::TYPE_PERCENT')}}, final price will be sale price on channel minus percentage of discount<br/>
									If type is {{constant('App\\Entity\\Promotion::TYPE_FIXED')}},final price will be the fixed price</td>
								</tr>
								<tr>
									<td>Percentage amount</td>
									<td>Value of promotion in %</td>
								</tr>
									<td>Fixed price</td>
									 <td>Value of product during promotion
									</td>
								</tr>
								<tr>
									<td>Frenquency of promotion</td>
									<td>If frequency is {{constant('App\\Entity\\Promotion::FREQUENCY_CONTINUE')}}, promotion is applicable from Begin Date to End Date<br/>
									    If frequency is {{constant('App\\Entity\\Promotion::FREQUENCY_WEEKEND')}}, promotion is applicable from Begin Date to End Date, only the week end from friday 18:00 to sunday 23:59<br/>
										If frequency is {{constant('App\\Entity\\Promotion::FREQUENCY_TIMETOTIME')}}, promotion is applicable from Begin Date to End Date, only the days picked in the weekDates column from beginHour and endHour</td>
								</tr>
								<tr>
									<td>Comments</td>
									<td>Will help to retrieve the info on search</td>
								</tr>
								<tr>
									<td>Priority of the promotion</td>
									<td>Number beween 0 and 10. By default 0. The priority will help to prioritize 2 promotions that overlap.<br/>
										If for a same product on a same channel and for a same period of time, we have 2 promotions then we will compare the priority.<br/>
									The promotion with higher priority will be choosen.<br/>
									If prority is same, the best discount will be applied.</td>
								</tr>
								<tr>
									<td>Begin hour of promotion</td>
									<td> (only when frequency is {{constant('App\\Entity\\Promotion::FREQUENCY_TIMETOTIME')}})</td>
								</tr>
								<tr>
									<td>End hour of promotion </td>
									<td>only when frequency is {{constant('App\\Entity\\Promotion::FREQUENCY_TIMETOTIME')}})</td>
								</tr>
								<tr>
									<td>Week Days</td>
									<td>List of day in the week to apply discount
									</td>
								</tr>
							</tbody>
				</table>
	<h6 class="mt-4 mb-2" id="form-pricing">Promotion Form</h6>
	<p><img class="img-fluid" src="/assets/images/doc/Add-multi-promotions.png" alt="Products" title="Products"></p>
	<p>Here you can define a 13% discount on AMzon.Es and Amazon.co.uk for 2 productsn every monday and tuesday from 19:2 to 22:20 during period from 02/02/2024 to 04/02/2024</p>
	<h6 class="mt-4 mb-2" id="import">Promotion Import</h6>
	<p><img class="img-fluid" src="/assets/images/doc/Import-promotions.png" alt="Products" title="Products"></p>
	<p>You can also import promotions massively using the import functionality. ON this page, you will get all infos to fill up the files</p>
	<p> Once uploaded, you will have to confirm the import of discounts</p>
	<p>You will then receive an email with all the logs of the processed files</p>

	<h6 class="mt-4 mb-2" id="sale-channel">Sale Channel</h6>
	<hr class=""/>
	<h4 class="mt-4 mb-2" id="configuration">Configuration</h4>
	<h6 class="mt-4 mb-2" id="products">Products</h6>
	<p><img class="img-fluid" src="/assets/images/doc/Products.png" alt="Products" title="Products"></p>
	<p>Products are integrated through some other services of syncronization. (PIM, Product Onboarding, Business Central).
	You can edit the description, category and brand if it is not well setup.
	</p>
	<h6 class="mt-4 mb-2" id="brands">Brands</h6>
	<p>
		<img class="img-fluid" src="/assets/images/doc/Brands.png" alt="Brands" title="Brands">
	</p>
	<p>You can add, edit and delete Brand from this interface. This data will be use essentially in the PowerBI report.</p>
	<h6 class="mt-4 mb-2" id="categorys">Categorys</h6>
	<p><img class="img-fluid" src="/assets/images/doc/Categorys.png" alt="Categorys" title="Categorys"></p>
	<p>You can add, edit and delete Category from this interface. This data will be use essentially in the PowerBI report.</p>
	<h6 class="mt-4 mb-2" id="sku-mappings">Sku mappings</h6>
	<p><img class="img-fluid" src="/assets/images/doc/Sku-Mappings.png" alt="Sku" title="Sku mappings"></p>
	<p>For some reasons, the skus created in the sale channel is not corresponding to any sku in Business central.
						THis interface enables operators to add, edit or delete sku mappings between a sku used in a sale channel and the sku used in Business central.</p>
	<h6 class="mt-4 mb-2" id="integration-channel">Integration Channel</h6>
	<h6 class="mt-4 mb-2" id="order-error-logs">Order error Logs</h6>
	<h6 class="mt-4 mb-2" id="users">Users</h6>
	<p><img class="img-fluid" src="/assets/images/doc/Create-User.png" alt="User" title="User creation"></p>
	<p>Define the role the user will have in the application</p>
	<ul>
		<li>Email is required and unique</li>
		<li>New password and repeat password should be provide at creation and when you wnat to update it</li>
		<li>Channel alerts. Select the list of the sale channels for which the user will receive alerts by emails</li>
		<li>Manage FBA. Enable to get all Amazon &amp; FBA section</li>
		<li>Manage price. Enable to add prices and manage promotions.</li>
		<li>Sale channels. List of sale channels for which the user will be able to manage price and promotions</li>
		<li>Manage users. The user can create new users.</li>
	</ul>
	<hr class=""/>
	<h2 class="mb-4" id="errors">Errors</h2>
	<p>During syncronisation, some alerts can be sent by email to advice operators about the operations they should operate to
	</p>
	<h4 class="mt-4 mb-2" id="sku-mapping">Sku mapping</h4>
	<p>In the case, you received an error with SKU mapping error. the steps are :\</p>
	<ol>
		<li>Find on Business central what is the real SKU</li>
		<li>Connect to the application.</li>
		<li>Go in the Sku mapping section</li>
		<li>Add a new sku mapping. Put the sku used on marketplace and the one in Business central</li>
		<li>Save.</li>
		<li>Go to the order marked as Error of integration.
		</li>
		<li>Click on Retry.</li>
		<li>The Weborder is integrated. If you don&#39;t do the steps 6 to 8, a process would do it twice a day for you.</li>
	</ol>
	<h4 class="mt-4 mb-2" id="delay-of-treatment">Delay of treatment</h4>
	<p>If you received messages containing those information
		<em>Order AliExpress n°3017869929123012 (#53100) &gt; Shipping should be processed in 30 hours for Order AliExpress n°3017869929123012 (#53100)</em>
		Some Businesss rules have been added to check the integration process.
	</p>
	<blockquote>
		<p>Every sale order managed by 3PL should be invoiced in less than 24 hours</p>
		<p>Every sale order managed by our own warehouse should be processed in the 30 hours after the purchase.</p>
	</blockquote>
	<p>In this case, you need to analyse why the sale order was not processed. Reasons can be multiple (stock, tracking, problem of posting orders).
	</p>
	<ol>
		<li>Find on Business central the sale order and check if it is released</li>
		<li>Check the availability of the stock of all the lines</li>
		<li>Check if the shipment has been done</li>
		<li>Check if the carrier has the tracking information</li>
	</ol>
	<h4 class="mt-4 mb-2" id="delay-of-tracking">Delay of tracking</h4>
	<p>If you received messages containing those information
		<em>Order AliExpress n°3018294824139882 (#54539) has been sent with the invoice GFV22/0900124 but no tracking is retrieved. Please confirm tracking on ALIEXPRESS</em>
		The invoice is created in Business central and shipment also has been created. But no tracking code is available. Normally, in the process, we get the tracking code in the next 12 hours after the creation of the invoice.</p>
	<p>In this case, you should investigate if there is some issues with tracking or with warehouse to resolve the issue.
						In the same time, you should add the tracking code on the marketplace of you get it to avoid any penalities.</p>


	<hr class=""/>
	<h2 class="mb-4" id="technical">Technical</h2>
	<h4 class="mt-4 mb-2" id="delay-of-tracking">Delay of tracking</h4>
	<h4 class="mt-4 mb-2" id="cron">Cron</h4>
{% endblock %}
