{% if field.value|length > 0 %}
	{% if field.value.address_billing.city|length >0 %}
	<div class="">
		{{field.value.address_billing.last_name}} {{field.value.address_billing.first_name}}<br/>
		{{field.value.address_billing.address1}}<br/>
		{{field.value.address_billing.address2}}<br/>
		{{field.value.address_billing.post_code}}
		{{field.value.address_billing.city}},
		{{field.value.address_billing.country}}

	</div>
	 {% else %}
	 <div class="">
		{{field.value.address_shipping.lastName}} {{field.value.address_shipping.firstName}}<br/>
		{{field.value.address_shipping.address1}}<br/>
		{{field.value.address_shipping.address2}}<br/>
		{{field.value.address_shipping.postCode}}
		{{field.value.address_shipping.city}},
		{{field.value.address_shipping.country}}
	</div>
	{% endif %}
{% else %}
	<span class="badge badge-secondary">
		Data not accessible from Arise
	</span>
{% endif %}
