{% if field.value|length > 0 %}

	<div class="">
		{{field.value.address_shipping.lastName}} {{field.value.address_shipping.firstName}}<br/>
		{{field.value.address_shipping.address1}}<br/>
		{{field.value.address_shipping.address2}}<br/>
		{{field.value.address_shipping.postCode}}
		{{field.value.address_shipping.city}},
		{{field.value.address_shipping.country}}

	</div>
{% else %}
	<span class="badge badge-secondary">
		Data not accessible from Arise
	</span>
{% endif %}
