{% if field.value|length > 0 %}
		<div class="">
			<table class="table datagrid ">
				<thead>
					<tr>
						<th>
							Sku
						</th>
						<th>
							Title
						</th>

						<th>
							Unit Price
						</th>
						<th>
							Qty
						</th>
						<th>
							Shipping fees
						</th>
					</tr>
				</thead>
				<tbody>
					{% for line in field.value.Items %}
						<tr>
							<td>
								{{line.Sku}}
							</td>
							<td>
								{{line.Title|slice(0,20)}}
							</td>
							<td>
								{{line.UnitPrice}} {{field.value.Currency}}
							</td>
							<td>
								{{line.Quantity}}
							</td>
							<td>
								{{line.ShippingPrice}} {{field.value.Currency}}
							</td>
							
						</tr>
					{% endfor %}
				</tbody>
				<tfooter>
					<tr>
							<td colspan="4" class="text-right">
									<strong>Total shipping</strong>
							</td>
							<td colspan="">
								{{field.value.TotalShippingPrice}} {{field.value.Currency}}
							</td>
					</tr>
					<tr>
							<td colspan="4" class="text-right">
									<strong>Total price</strong>
							</td>
							<td colspan="">
								{{field.value.TotalPrice}} {{field.value.Currency}}
							</td>
					</tr>
				</tfooter>
			</table>

		</div>
{% else %}
<span class="badge badge-secondary"> Data not accessible from Channel advisor</span>

{% endif %}
