{% if field.value|length > 0 %}
		<div class="">
			<table class="table datagrid ">
				<thead>
					<tr>
						<th>
							Sku
						</th>
						<th>
							Title
						</th>

						<th>
							Unit Price
						</th>
						<th>
							Qty
						</th>
						<th>
							Shipping fees
						</th>
					</tr>
				</thead>
				<tbody>
					{% for line in field.value.Items %}
						<tr>
							<td data-label="Sku" class="text-left field-text">
								{{line.Sku}}
							</td>
							<td data-label="Title" class="text-left field-text">
								{{line.Title|slice(0,20)}}
							</td>
							<td data-label="Unit price" class="text-left field-text">
								{{line.UnitPrice}} {{field.value.Currency}}
							</td>
							<td data-label="Qty" class="text-left field-text">
								{{line.Quantity}}
							</td>
							<td data-label="Shipping fees" class="text-left field-text">
								{{line.ShippingPrice}} {{field.value.Currency}}
							</td>
							
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr >
							<td colspan="4" class="tfoot-col-label">
									<strong>Total shipping</strong>
							</td>
							<td colspan="" data-label="Total shipping" class="text-left field-text">
								{{field.value.TotalShippingPrice}} {{field.value.Currency}}
							</td>
					</tr>
					<tr >
							<td colspan="4" class="tfoot-col-label">
									<strong>Total price</strong>
							</td>
							<td colspan="" data-label="Total price" class="text-left field-text">
								{{field.value.TotalPrice}} {{field.value.Currency}}
							</td>
					</tr>
				</tfoot>
			</table>

		</div>
{% else %}
<span class="badge badge-secondary"> Data not accessible from Channel advisor</span>

{% endif %}
