{% if field.value|length > 0 %}
	<div class="">
		{{field.value.customer.shipping_address.firstname}} {{field.value.customer.shipping_address.lastname}}<br/>
		{{field.value.customer.shipping_address.street_1}}<br/>
		{% if field.value.customer.shipping_address.street_2 is defined %}
			{{field.value.customer.shipping_address.street_2}}<br/>
		{% endif %}
		{{field.value.customer.shipping_address.zip_code}}
		{{field.value.customer.shipping_address.city}},
		{% if field.value.customer.shipping_address.state is defined %}
			{{field.value.customer.shipping_address.state}},
		{% endif %}
		{{field.value.customer.shipping_address.country_iso_code}}

	</div>
{% else %}
	<span class="badge badge-secondary">
		Data not accessible from Mirakl
	</span>
{% endif %}
