{% if field.value|length > 0 %}

	<div class="">
		{{field.value.receipt_address.contact_person}}<br/>
		{{field.value.receipt_address.detail_address}}<br/>
		{% if field.value.receipt_address.address2 is defined  and field.value.receipt_address.address2|length >0 %}
			{{field.value.receipt_address.address2}}<br/>
		{% endif %}
		{{field.value.receipt_address.zip}}
		{{field.value.receipt_address.city}},
		{% if field.value.receipt_address.province|length > 0 %}
			{{field.value.receipt_address.province}},
		{% endif %}
		{{field.value.receipt_address.country}}

	</div>
{% else %}
	<span class="badge badge-secondary">
		Data not accessible from Aliexpress
	</span>
{% endif %}
