{% if field.value|length > 0 %}

	<div class="">
		<table class="table datagrid ">
			<thead>
				<tr>
					<th>
						Sku
					</th>
					<th>
						Title
					</th>

					<th>
						Unit Price
					</th>
					<th>
						Qty
					</th>
				</tr>
			</thead>
			<tbody>
				{% for line in field.value.child_order_list.global_aeop_tp_child_order_dto %}
					<tr>
						<td data-label="Sku" class="text-left field-text">
							{{line.sku_code}}
						</td>
						<td data-label="Title" class="text-left field-text">
							{{line.product_name|slice(0,20)}}
						</td>
						<td data-label="Unit price" class="text-left field-text">
							{{line.product_price.amount}}
							{{field.value.settlement_currency}}
						</td>
						<td data-label="Qty" class="text-left field-text">
							{{line.product_count}}
						</td>
					</tr>
				{% endfor %}
				{% for line in field.value.child_order_list.global_aeop_tp_child_order_dto %}
					{% if line.child_order_discount_detail_list.global_aeop_tp_sale_discount_info is defined %}
						{% for lineDiscount in line.child_order_discount_detail_list.global_aeop_tp_sale_discount_info  %}
							{% if lineDiscount.promotion_owner == 'SELLER' %}
								<tr>
									<td data-label="Sku" class="text-left field-text">
										DISCOUNT
									</td>
									<td data-label="Title" class="text-left field-text">
										{{lineDiscount.promotion_owner}}
									</td>
									<td data-label="Unit price" class="text-left field-text">
										-{{lineDiscount.discount_detail.amount}}
										{{field.value.settlement_currency}}
									</td>
									<td data-label="Qty" class="text-left field-text">1</td>
								</tr>
							{% else %}
								<tr>
									<td data-label="Sku" class="text-left field-text">
										COUPON
									</td>
									<td data-label="Title" class="text-left field-text">
										Aliexpress (-{{lineDiscount.discount_detail.amount}}
										{{field.value.settlement_currency}})
									</td>
									<td data-label="Unit price" class="text-left field-text">
										0
										{{field.value.settlement_currency}}
									</td>
									<td data-label="Qty" class="text-left field-text">1</td>
								</tr>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			</tbody>
			<tfoot>
				<tr >
					<td colspan="3" class="tfoot-col-label">
						<strong>Total shipping</strong>
					</td>
					<td colspan="" data-label="Total shipping" class="text-left field-text">
						{{field.value.logistics_amount.amount}}
						{{field.value.settlement_currency}}
					</td>
				</tr>
				<tr >
					<td colspan="3" class="tfoot-col-label">
						<strong>Total price</strong>
					</td>
					<td colspan="" data-label="Total price" class="text-left field-text">
						{{field.value.order_amount.amount}}
						{{field.value.settlement_currency}}
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
{% else %}
	<span class="badge badge-secondary">
		Data not accessible from Aliexpress
	</span>
{% endif %}
