{% if field.value|length > 0 %}
	<div class="">
		{{field.value.billing_address.name}}<br/>
		{{field.value.billing_address.address1}}<br/>
		{% if field.value.billing_address.address2| length > 0%}
			{{field.value.billing_address.address2}}<br/>
		{% endif %}
		{{field.value.billing_address.zip}}
		{{field.value.billing_address.city}},
		{% if field.value.billing_address.province|length > 0 %}
			{{field.value.billing_address.province}},
		{% endif %}
		{{field.value.billing_address.country_code}}

	</div>
{% else %}
	<span class="badge badge-secondary">
		Data not accessible from Owletcare
	</span>
{% endif %}
