{% extends '@!EasyAdmin/layout.html.twig' %}


    {% block responsive_header_logo %}
        <a class="responsive-logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
            <i class="fas fa-leaf"></i> {{ ea.dashboardTitle|raw }}
        </a>
    {% endblock responsive_header_logo %}


    {% block header_logo %}
        <div class="float-end closebutton" id="closebutton"><i class="fas fa-times"></i></div>
        <a class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
            <span class="logo-custom"><i class="fas fa-leaf"></i> {{ ea.dashboardTitle|raw }} </span>
            <span class="logo-compact"><i class="fas fa-leaf"></i></span>
        </a>
    {% endblock header_logo %}
                                        