
<div class="">
	<div style="float:right; " class="badge badge-secondary">
		{{event.object.licensePlateNumber}}
	</div>	
	<i class="fas fa-exchange-alt"></i> <strong>Return to Fba</strong><br/>
	{{event.object.quantity}} x {{event.object.sku}}<br/>
	Status inventory : {{event.object.status}}<br/>
	Status sellable : {{event.object.detailedDisposition}}<br/>
</div>
