<div class="popover__ext">{{ field.formattedValue }}</div>
<div class="popover__wrapper"><i class="fas fa-info-circle popover__title"></i>
  <div class="popover__content">
    <div class="popover__message">
     <table class="table datagrid" >
        <tr>
          <td class="tfoot-col-label">FBA Sellable Qty</td>
          <td data-label="FBA Sellable Qty" class="text-left field-text">{{entity.instance.fbaSellableStock}}</td>
        </tr>
        <tr>
          <td class="tfoot-col-label">FBA Unsellable Qty</td>
          <td data-label="FBA Unsellable Qty" class="text-left field-text">{{entity.instance.fbaUnsellableStock}}</td>
        </tr>
        <tr>
          <td class="tfoot-col-label">FBA Reserved Qty</td>
          <td data-label="FBA Reserved Qty" class="text-left field-text">{{entity.instance.fbaReservedStock}}</td>
        </tr>
        <tr>
          <td class="tfoot-col-label">FBA Researching Qty</td>
          <td data-label="FBA Researching Qty" class="text-left field-text">{{entity.instance.fbaResearchingStock}}</td>
        </tr>
     </table> 
    </div>
  </div>
</div>

