{{ field.formattedValue }}
<div class="popover__wrapper"><i class="fas fa-info-circle popover__title"></i>
  <div class="popover__content">
    <div class="popover__message">
     <table class="table datagrid" >
        <tr>
          <td  class="tfoot-col-label">FBA Inbound Working Qty</td>
          <td data-label="FBA Inbound Working Qty" class="text-left field-text">{{entity.instance.fbaInboundWorkingStock}}</td>
        </tr>
        <tr>
          <td  class="tfoot-col-label">FBA Inbound Shipped Qty</td>
          <td data-label="FBA Inbound Shipped Qty" class="text-left field-text">{{entity.instance.fbaInboundShippedStock}}</td>
        </tr>
        <tr>
          <td  class="tfoot-col-label">FBA Inbound Receiving Qty</td>
          <td data-label="FBA Inbound Receiving Qty" class="text-left field-text">{{entity.instance.fbaInboundReceivingStock}}</td>
        </tr>
     </table> 

    <table class="table datagrid mt-2" >
        <tr>
          <td  class="tfoot-col-label">FBA Inbound Working Qty (EU)</td>
          <td data-label="FBA Inbound Working Qty (EU)" class="text-left field-text">{{entity.instance.fbaEuInboundWorkingStock}}</td>
        </tr>
        <tr>
          <td  class="tfoot-col-label">FBA Inbound Shipped Qty (EU)</td>
          <td data-label="FBA Inbound Shipped Qty (EU)" class="text-left field-text">{{entity.instance.fbaEuInboundShippedStock}}</td>
        </tr>
        <tr>
          <td  class="tfoot-col-label">FBA Inbound Receiving Qty (EU)</td>
          <td data-label="FBA Inbound Receiving Qty (EU)" class="text-left field-text">{{entity.instance.fbaEuInboundReceivingStock}}</td>
        </tr>
     </table> 

     <table class="table datagrid" >
        <tr>
          <td  class="tfoot-col-label">FBA Inbound Working Qty (Uk)</td>
          <td data-label="FBA Inbound Working Qty (Uk)" class="text-left field-text">{{entity.instance.fbaUkInboundWorkingStock}}</td>
        </tr>
        <tr>
          <td  class="tfoot-col-label">FBA Inbound Shipped Qty (Uk)</td>
          <td data-label="FBA Inbound Shipped Qty (Uk)" class="text-left field-text">{{entity.instance.fbaUkInboundShippedStock}}</td>
        </tr>
        <tr>
          <td  class="tfoot-col-label">FBA Inbound Receiving Qty (Uk)</td>
          <td data-label="FBA Inbound Receiving Qty (Uk)" class="text-left field-text">{{entity.instance.fbaUkInboundReceivingStock}}</td>
        </tr>
     </table> 

    </div>
  </div>
</div>