{% if field.value|length > 0 %}
	<div class="">
		{{field.value.billing_address.firstname}} {{field.value.billing_address.lastname}}<br/>
		{{field.value.billing_address.address1}}<br/>
		{% if field.value.billing_address.address2 is defined and  field.value.billing_address.address2 is not iterable %}
			{{field.value.billing_address.address2}}<br/>
		{% endif %}
		{{field.value.billing_address.zipcode}}
		{{field.value.billing_address.city}},
		{% if field.value.billing_address.state is defined and  field.value.billing_address.state is not iterable %}
			{{field.value.billing_address.state}},
		{% endif %}
		{{field.value.billing_address.country}}

	</div>
{% else %}
	<span class="badge badge-secondary">
		Data not accessible from Fnac
	</span>
{% endif %}
