{% if field.value|length > 0 %}

<div class="row " style="margin:0!important">
	<div class="mb-3 col-4">
		<h6>Billing</h6>
		<div class="">
			{{field.value.BillingFirstName}}
			{{field.value.BillingLastName}}<br/>
			{{field.value.BillingAddressLine1}}<br/>
			{% if field.value.BillingAddressLine2|length > 0 %}
				{{field.value.BillingAddressLine2}}<br/>
			{% endif %}
			{{field.value.BillingPostalCode}}
			{{field.value.BillingCity}},
			{% if field.value.BillingStateOrProvinceName|length > 0 and field.value.BillingStateOrProvinceName != "--" %}
				{{field.value.BillingStateOrProvinceName}},
			{% endif %}
			{{field.value.BillingCountry}}

		</div>
	</div>

	<div class="mb-3 col-4">
		<h6>Shipping</h6>
		<div class="">
			{{field.value.ShippingFirstName}}
			{{field.value.ShippingLastName}}<br/>
			{{field.value.ShippingAddressLine1}}<br/>
			{% if field.value.ShippingAddressLine2|length > 0 %}
				{{field.value.ShippingAddressLine2}}<br/>
			{% endif %}
			{{field.value.ShippingPostalCode}}
			{{field.value.ShippingCity}},
			{% if field.value.ShippingStateOrProvinceName|length > 0 and field.value.ShippingStateOrProvinceName != "--" %}
				{{field.value.ShippingStateOrProvinceName}},
			{% endif %}
			{{field.value.ShippingCountry}}

		</div>
	</div>

	<div class="col-12">
		<h6>List of items</h6>
		<div class="">
			<table class="table datagrid ">
				<thead>
					<tr>
						<th>
							Sku
						</th>
						<th>
							Title
						</th>

						<th>
							Unit Price
						</th>
						<th>
							Qty
						</th>
						<th>
							Shipping fees
						</th>
					</tr>
				</thead>
				<tbody>
					{% for line in field.value.Items %}
						<tr>
							<td>
								{{line.Sku}}
							</td>
							<td>
								{{line.Title|slice(0,20)}}
							</td>
							<td>
								{{line.UnitPrice}} {{field.value.Currency}}
							</td>
							<td>
								{{line.Quantity}}
							</td>
							<td>
								{{line.ShippingPrice}} {{field.value.Currency}}
							</td>
							
						</tr>
					{% endfor %}
				</tbody>
				<tfooter>
					<tr>
							<td colspan="4" class="text-right">
									<strong>Total shipping</strong>
							</td>
							<td colspan="">
								{{field.value.TotalShippingPrice}} {{field.value.Currency}}
							</td>
					</tr>
					<tr>
							<td colspan="4" class="text-right">
									<strong>Total price</strong>
							</td>
							<td colspan="">
								{{field.value.TotalPrice}} {{field.value.Currency}}
							</td>
					</tr>
				</tfooter>
			</table>

		</div>
	</div>
</div>
{% else %}
<span class="badge badge-secondary"> Data not accessible from Channel advisor</span>

{% endif %}
