{% if field.value|length > 0%}
	<div class="row " style="margin:0!important">

<div class="row " style="margin:0!important">
	<div class="mb-3 col-4">
		<h6>Billing</h6>
		<div class="">
			{{field.value.billToName}}<br/>
			{{field.value.billingPostalAddress.street|nl2br}}<br/>
			{{field.value.billingPostalAddress.postalCode}}
			{{field.value.billingPostalAddress.city}},
			{{field.value.billingPostalAddress.state}},
			{{field.value.billingPostalAddress.countryLetterCode}}

		</div>
	</div>

	<div class="mb-3 col-4">
		<h6>Shipping</h6>
		<div class="">
			{{field.value.shipToName}}<br/>
			{{field.value.shippingPostalAddress.street|nl2br}}<br/>
			{{field.value.shippingPostalAddress.postalCode}}
			{{field.value.shippingPostalAddress.city}},
			{{field.value.shippingPostalAddress.state}},
			{{field.value.shippingPostalAddress.countryLetterCode}}

		</div>
	</div>

	<div class="col-12">
		<h6>List of items</h6>
			<div class="">
				<table class="table datagrid ">
					<thead>
						<tr>
							<th>
								Sku
							</th>
							<th>
								Title
							</th>

							<th>
								Unit Price
							</th>
							<th>
								Qty
							</th>
							<th>
								Net Amount
							</th>
							<th>
								Net Tax Amount
							</th>
							<th>
								Amount with tax
							</th>
						</tr>
					</thead>
					<tbody>
						{% for line in field.value.salesInvoiceLines %}
							<tr>
								
								<td>
									{% if line.lineDetails.number is defined %} {{line.lineDetails.number}} {% endif %}
								</td>
								<td>
									{{line.description}}
								</td>
								<td>
									{{line.unitPrice}} {{field.value.currencyCode}}
								</td>
								<td>
									{{line.quantity}} 
								</td>
								<td>
									{{line.netAmount}} {{field.value.currencyCode}}
								</td>
								<td>
									{{line.netTaxAmount}} {{field.value.currencyCode}}
								</td>
								<td>
									{{line.netAmountIncludingTax}} {{field.value.currencyCode}}
								</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfooter>
						<tr>
							<td colspan="6" class="text-right">
								<strong>Total excl taxes</strong>
							</td>
							<td colspan="">
								{{field.value.totalAmountExcludingTax}}
								{{field.value.currencyCode}}
							</td>
						</tr>
						<tr>
							<td colspan="6" class="text-right">
								<strong>Total tax amount</strong>
							</td>
							<td colspan="">
								{{field.value.totalTaxAmount}}
								{{field.value.currencyCode}}
							</td>
						</tr>
						<tr>
							<td colspan="6" class="text-right">
								<strong>Total price</strong>
							</td>
							<td colspan="">
								{{field.value.totalAmountIncludingTax}}
								{{field.value.currencyCode}}
							</td>
						</tr>
					</tfooter>
				</table>

			</div>
		</div>
	</div>
{% else %}
	<span class="badge badge-secondary">No retrieved</span>
{% endif %}
